.sideBarroot {
  display: flex;
  height: 800px;
  background-color: #ffffff;
  padding-top: 7em;
}

.tabs {
  background-color: #2a5555;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
}


.userAvatar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.5em;
}

.userAvatar h3 {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  color: #f5f5f5;
}


.sideBarContainer {
  width: 350px;
  background-color: #2a5555;
}

.mainContent {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root>.MuiTab-iconWrapper{
  color: #EB9235 !important;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected{
  display: flex;
  flex-direction: row;
  color: white !important;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root{
  display: flex !important;
  flex-direction: row !important;
  gap: 20px;
  color: white !important;
  border-bottom: 1px solid #ABABAB !important;
}

.css-10d9dml-MuiTabs-indicator {
  background-color:#EB9235 !important;
  width: 6px !important;
}