.root{
  display: flex;
  flex-direction: row;
 justify-content: flex-start;
 align-items: center;
  margin: 8em auto;
  color: black;
  width: 80%;
  min-height: 600px;
}


.imageBox{
  overflow: hidden;
  width: 100%;
  height: 500px;
 }

 .imageBox img{
  width: 100%;
  padding: 20;
  height: 100%;
  object-fit: cover;
 }


 .title{
  font-size: 1em;
  padding-top: 1em;
 padding-bottom: 0.5em;
  color: #2A5555;
  text-transform: uppercase;
  font-weight: bold;
 }


 .city{
  font-size: 1em;
  color: #7D7D7D;
 }

.loaction svg {
  font-size: 2.5em;
  color: #2A5555;
}

.loaction{
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

.room {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.bedroom{
  display: flex;
  align-items: center;
}

.num {
  font-size: 1.5em;
  color: #7D7D7D;
}

.priceDetails{
  padding-top: 0.5em;
  color: #7D7D7D;
}

.type{
  padding-top: 0.5em;
  color: #2A5555;
}

.descDetails {
  width: 30em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  color: #7D7D7D;
}

.name {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  color: white;
}

.name svg {
  font-size: 2em;
  color: #EB9235;
  padding-right: 0.5em;
}


.descAddress {
  width: 280px;
  height: 280px;
  border-radius: 25px;
  background-color: #2A5555;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.css-11lq3yg-MuiGrid-root {
  flex-direction: row !important ;
}